.content {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 20%;
    margin-bottom: 10px;
}

.grid-itens {
    background-color: rgb(212, 224, 224);
}

#resultados {
    grid-column-start: 2;
    grid-column-end: 4;
}

#footer {
    top: 52.5em;
    width: 100%;
    position: fixed;
    background-color: rgb(7, 23, 92);
    color: white;
    text-align: center;
}