body {
    background-color: rgb(123, 180, 228);
}

.header{
    background-color: rgb(7, 23, 92);
    display: grid;
    grid-area: header;
    gap: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.header h1 {
    font-family: 'Oswald', sans-serif;
    color: aliceblue;
}

.container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 20%;
    margin-bottom: 10px;
}

.container img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.container h2 {
    font-family: 'Nunito', sans-serif;
}

.container p {
font-family: 'Playfair Display', serif;
}

.grid-itens {
    background-color: rgb(212, 224, 224);
}

#destaques {
    text-align: center;
}

#destaques h2 {
    text-align: left;
}

#resultados{
    /* width: 400px; */
    grid-column-start: 2;
    grid-column-end: 4;
}

#footer {
    top: 52.5em;
    width: 100%;
    position: fixed;
    background-color: rgb(7, 23, 92);
    color: white;
    text-align: center;
}

@media (max-width: 500px) {
    .container {
        display: inline-block;
    }
}


